$lightPurple: #827E99;
$darkGrey: #4A4A4A;
$paleGrey: #9B9B9B;
$red: #FA323F;
$darkRed: #D0021B;
$green: #469C46;
$lightGrey: #9B9B9B;
$anotherGrey: #373A3C;
$veryLightGrey: #ECECEC;
$slightlyGrey: #F2F7FA;


$btnBackground: $lightGrey;
$accent: $lightPurple;
$heading: $darkGrey;
$subHeading: $paleGrey;
$defaultText: $anotherGrey;