@import 'components/atoms/colors.scss';

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: $paleGrey;

  img {
    width: 100%;
    height: 100%;
  }

  .initials {
    font-size: 24px;
    color: white;
  }
}

.large {
  width: 104px;
  height: 104px;

  .initials {
    font-size: 32px;
  }
}