@import 'components/atoms/colors.scss';

.userList {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 32px;
}

.groupCaption {
  color: $accent;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.list {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 24px;
}